.resultado {
    margin-top: 5px;
    cursor: pointer;
    border: 1px solid rgb(231, 227, 227);
    padding: 5px 5px 5px 10px;
    border-radius: 4px;
    list-style-type: none;
}

.resultado:hover {
    color: blue;
    background-color: rgb(248, 240, 240);
}

.cat-seleccionadas {
    margin-top: 5px;
    margin-bottom: 5px;
}

lightning-pill {
    margin-right: 5px;
}