h1 {
    font-size: 16px;
}

h3 {
    display: inline-block;
    margin-left: 15px;
}

.mt-10 {
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.tipo-promocion {
    font-size: 14px;
}