.text-center {
    text-align: center;
}

h1 {
    font-size: 18px;
}

.bg-1 {
    background: rgb(250, 245, 245);
}

.medidas-dpn {
    width: 700px;
    min-height: 250px;
}

p {
    margin-top: 5px;
}
